---
import Footer from '../components/Footer.astro';
import CraftPhylosophy from '../components/home/CraftPhylosophy.astro';
import Cta from '../components/Cta.astro';
import Hero from '../components/home/Hero.astro';
import Process from '../components/home/Process.astro';
import Services from '../components/home/Services.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import WhyMe from '../components/home/WhyMe.astro';
import ClientsMarquee from '../components/home/ClientsMarquee.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<ClientsMarquee />
		<Services />
		<WhyMe />
		<Process />
		<Cta />
	</main>
	<Footer />
</Layout>
